<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  This is a page where you can find all
  the important contact details to ask questions about the
  <a href="http://rubyonrails.org/">Ruby on Rails</a> 
  sample application.
<p>

